.button {
    width: 10rem;
    height: 3rem;
    color: white;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    place-items: center;
    font-size: 1.2rem;
    gap: 0.5rem;
    cursor: pointer;
}

.bg-blue {
    background-color: #003459;
}

.bg-blue:hover {
    background-color: #3c7caa;
}

.bg-transparent {
    border: 2px solid #003459;
    background-color: transparent;
    color: #003459;
}
.bg-transparent:hover {
    border: 2px solid #3e86b9;
}